.logo img {
    width:200px; /* you can use % */
    height: auto;
}

.sitetitle{
  font-size: 5em;
  font-family: sans-serif;
  text-align: center
}
input.ng-invalid.ng-touched {
    background-color: red;
}
